<div class="container">
    <h1 class="text-center">Cadastro de Usuário</h1>
    
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    
    <form [formGroup]="meuForm" class="row" (submit)="cadastrar($event)" >
        <div class="col-md-6">
            <div class="form-group">
                <label>Nome</label>
                <input 
                    formControlName="nome" 
                    name="nome" 
                    [(ngModel)]="usuario.nome" 
                    class="form-control"  
                    autocomplete="off">
                <div *ngIf="meuForm.controls.nome.invalid">
                    <span *ngIf="meuForm.controls.nome.errors.required" class="form-control alert-danger">
                        Nome obrigatório
                    </span>                    
                </div>                        
            </div>
            <div class="form-group">
                <label>Sobrenome</label>
                <input
                    formControlName="sobrenome"  
                    name="sobrenome" 
                    [(ngModel)]="usuario.sobrenome" 
                    class="form-control"  
                    autocomplete="off">
                <span *ngIf="meuForm.controls.sobrenome.invalid" class="form-control alert-danger">
                    Sobrenome obrigatório
                </span>                       
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input 
                    formControlName="email" 
                    name="email" 
                    [(ngModel)]="usuario.email"  
                    class="form-control" 
                    autocomplete="off">
                <span *ngIf="meuForm.controls.email.invalid" class="form-control alert-danger">
                    E-mail obrigatório
                </span> 
            </div>
            <div class="form-group">
                <label>Data de Nascimento</label>
                <input 
                    formControlName="dataNascimento" 
                    name="dataNascimento" 
                    [(ngModel)]="usuario.dataNascimento"  
                    class="form-control" 
                    autocomplete="off">
                <span *ngIf="meuForm.controls.dataNascimento.invalid" class="form-control alert-danger">
                    Data de Nascimento obrigatória
                </span> 
            </div>

            <botao nome="Salvar" estilo="btn-primary" tipo="submit" [desabilitado]="meuForm.invalid">
            </botao>
        
             <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
            <hr>
        </div>
    </form>
</div>

