<div class="container conteudo">
    <div class="jumbotron welcome">
        <h2 class="titulo">Bem-vindo(a) ao ThinderBooks!</h2>
    </div>
    
    <form [formGroup]="meuForm" class="row" (submit)="cadastrar($event)" >
        <div class="col-md-6">
            <div class="form-group">
                <label>Usuário</label>
                <input 
                    formControlName="usuario" 
                    name="usuario" 
                    [(ngModel)]="usuario.email" 
                    class="form-control"  
                    autocomplete="off"
                    placeholder="E-mail cadastrado">                      
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input
                    formControlName="senha"  
                    name="senha" 
                    [(ngModel)]="usuario.senha" 
                    class="form-control"  
                    autocomplete="off"
                    placeholder="Senha">                      
            </div>

            <botao nome="Entrar" estilo="btn-primary" tipo="submit" [desabilitado]="meuForm.invalid">
            </botao>
        
            <hr>
        </div>
    </form>
</div>

